/Pertemuan-6-7/Tugas/target/
/Pertemuan-6-7/Tugas/build/
/Pertemuan-6-7/Tugas/nbproject/private/
/Pertemuan-10/Modul/GUIProject/nbproject/private/
/Pertemuan-10/Modul/GUIProject/build/
/Pertemuan-10/Modul/GUIProject2/nbproject/private/
/Pertemuan-10/Modul/GUIProject2/build/
/Pertemuan-10/Modul/GUIProject3/nbproject/private/
/Pertemuan-10/Modul/GUIProject3/build/
/Pertemuan-10/Modul/GUIProject4/nbproject/private/
/Pertemuan-10/Modul/GUIProject4/build/
/Pertemuan-12/Modul/jdbc_mhs_service/nbproject/private/
/Pertemuan-12/Modul/jdbc_mhs_service/build/
/Pertemuan-12/Modul/jdbc_mhs_service_GUI/build/
